@import url('https://fonts.cdnfonts.com/css/nexa-bold');

* {
    font-family: 'Nexa', sans-serif;
}

/* .widee {
    width: 95% !important;
} */

/* media queries*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)
 { 
    .widee {
        width: 90% !important;
    }

    .container > .head-title  {
        text-align: center;
        font-size: 2rem;
    }

    .container > .head-title  span {
        text-align: center;
        font-size: 1rem;
        margin: 0 !important;
        padding: 0 !important;
        
    }

    .footer-items .footer-info {
        font-size: 0.9rem !important;
    }
}

/* Small devices (landscape phones, less than 768px)  */
@media (max-width: 767.98px) { 
    .widee {
        width: 75% !important;
    }

    .container > .head-title  {
        text-align: center;
        font-size: 2.8rem;
    }

    .container > .head-title  span {
        text-align: center;
        font-size: 2rem;
        margin: 0 !important;
        padding: 0 !important;
        
    }

    .footer-items .footer-info {
        font-size: 0.9rem !important;
    }

 }

/* Medium devices (tablets, less than 992px)  */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px)  */
@media (max-width: 1199.98px) { }