@import url('https://fonts.cdnfonts.com/css/nexa-bold');

* {
    font-family: 'Nexa', sans-serif;
    color: #0C356A; 
}

body {
    background-color: #FFF0CE!important;
}

.container > .head-title {
    margin-top: 60px !important;
}

.b9-comp {
    margin-top: 30px !important;
    padding: 10px !important;
    /* background-color: red !important; */
    height: 650px;
    width: 60% !important;
    margin: 0 auto;
}

.b9-comp > h1 {
    text-align: center;
    font-weight: bolder;
    color: rgb(168, 0, 0);
}
.b9-comp .container-header > p {
    text-align: center;
    font-weight: bold;
}
.b9-comp > .container-header {
    /* background-color: blueviolet; */
    width: 100%;
    
}

.task_items ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.task_items ul li {
    position: relative;
    margin: 5px auto ;
    text-align: center;
    right: 15px;
}

.task_items ul li .button {
    padding: 10px 0;
    width: 200px;
    border: none;
    border-radius: 3px;
    background-color: #0f5abd;
    color: #fff;
    font-weight: bolder;
    transition: 0.5s;
    cursor: pointer;
}

.task_items ul li .button:hover {
    background-color: #0C356A;
}

.back-btn {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
   

}





/* media queries*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)
 { 
    .b9-comp {
        width: 80% !important;
        height: 20% !important;
    }
    .widee {
        width: 90% !important;
    }

    .container > .head-title  {
        text-align: center;
        font-size: 2rem;
        margin-bottom: -25px !important;
        margin-top: 30px !important;
    }

    .container > .head-title  span {
        text-align: center;
        font-size: 1rem;
        margin: 0 !important;
        padding: 0 !important;
        
    }

    .footer {
        margin: 20px  0px !important;
    }

    .footer-items .footer-info {
        font-size: 0.8rem !important;
    }

    .b9-comp-footer {
        margin: 0 !important;
        padding: 0 !important;
    }

    .b9-comp-footer > .footer-items .footer-info{
        margin: 0 !important;
        padding: 0 !important;
    }

    
}

/* Small devices (landscape phones, less than 768px)  */
@media (max-width: 767.98px) {
    
    .b9-comp {
        width: 80% !important;
    }
    .widee {
        width: 80% !important;
    }

    .container > .head-title  {
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: -25px !important;
        margin-top: 30px !important;
      
    }

    .container > .head-title  span {
        text-align: center;
        font-size: 2rem;
        margin: 0 !important;
        padding: 0 !important;
        
    }
    
    .footer {
        margin: 20px  0px !important;
    }

    .footer-items .footer-info {
        font-size: 0.8rem !important;
    }

 }

/* Medium devices (tablets, less than 992px)  */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px)  */
@media (max-width: 1199.98px) { }