/* @import url('https://fonts.cdnfonts.com/css/nexa-bold'); */

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    /* font-family: 'Nexa', sans-serif; */
    font-family: 'Sen', sans-serif;
    color: #0C356A; 
}

body {
    background-color: #FFF0CE!important;
    margin: 2rem 0 !important;
}

.form-text {
    font-size: 0.7rem !important;
}

.user-input {
    font-size: 0.9em !important;
}
.user-input-email {
    font-size: 0.7em !important;
}
.user-info {
    max-width: 75% !important;
}

.middle-section {
    display: flex;
    align-items: start;
    justify-content: space-around;

}

.quotes-section {
    display: flex;
    flex-direction: column;
    max-width: 40% !important;
}

.nsmq {
    text-align: center;
}

.newsletter {
    display: flex;
   align-items: start;
}
.read-more-newsletter {
    margin-top: -20px !important;
    text-decoration: none;
}

.cr {
    background-color: rgb(194, 141, 9) !important;
}

.company-link a{
    text-decoration: none;
    color: #2e2d2d;
}

.company-link a b{
   color: #ecaa01;
   flex-wrap: 600;
}


.container > .head-title {
    margin-top: 50px !important;
}
.container > .head-title span {
    display: inline-block;
}

.bt {
    padding: px 0 !important;
    width: 12rem;
}

/* basic 9 computing assessment page 1 */
.b9-comp {
    margin-top: 5px !important;
    padding: 5px !important;
    height: 20% !important;
    width: 40% !important;
    margin: 0 auto;
}

.b9-comp > h1 {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    color: #a80000;
}

.b9-comp > h1 span {
    font-weight: normal;
    font-size: 1.5rem;
    display: block;
}

.b9-comp .container-header > p {
    text-align: center;
    font-weight: bold;
}
.b9-comp > .container-header {
    /* background-color: blueviolet; */
    width: 100%;
    
}

.task_items ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.task_items ul li {
    position: relative;
    margin: 5px auto ;
    text-align: center;
    right: 15px;
}

.task_items ul li .button {
    padding-top: 10px;
    width: 200px;
    border: none;
    border-radius: 3px;
    background-color: #0f5abd;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
}

.task_items ul li .button:hover {
    font-weight: bolder;
    background-color: #0C356A;
}

.cr-btn {
    background-color: rgb(63, 61, 59)!important;
}
 .cr-btn:hover {
    font-weight: bolder;
    background-color: #0C356A !important;
}

.back-btn {
    text-align: center;
    font-weight: bold;
}

.back-btn a {
    font-size: 1.2rem;
    text-decoration: none;
}

.b9-comp-footer .footer-items p {
    font-size: 1rem !important;
}


/* basic 9 computing assessment form 1 */

.b9-form {
    width: 60% !important;
}
.b9-form > h1 {
    text-align: center;
}

.form-btn {
    text-align: center;
}

.feedback-card > p{
    text-align: center; 
    display: inline-block;  
}

.feedback-card h2, .feedback-card h3 {
    text-align: center; 
      
}

.feedback-card h3 {
    margin-top: 17px !important;
    color: #a80000;
}


.deadline {
    background-color: #000 !important;
}

.notice {
    margin-top: 200px;
    padding: 100px;
    border: 2px solid #fff !important;
}


.deadline > .container .notices  {
    color: #fff !important;
    text-align: center;

}
.deadline > .container .notice > p {
    color: #fff !important;
    text-align: center;

}




/* media queries*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)
 { 
    body {
        margin-top: 5rem !important;
    }

    .container > .head-title span {
        display: block;
    }

    .b9-comp {
        width: 80% !important;
        height: 20% !important;
    }
    .widee {
        margin-top: 500px !important;
        width: 90% !important;
    }

    .container > .head-title  {
        text-align: center;
        font-size: 2rem;
        margin-bottom: -25px !important;
        margin-top: 30px !important;
    }

    .container > .head-title  span {
        text-align: center;
        font-size: 1rem;
        margin: 0 !important;
        padding: 0 !important;
        
    }

    .b9-form {
        width: 70% !important;
    }

    .footer {
        margin: 20px  0px !important;
    }

    .footer-items .footer-info {
        font-size: 0.8rem !important;
    }

    .b9-comp-footer {
        margin: 0 !important;
        padding: 0 !important;
    }

    .b9-comp-footer > .footer-items .footer-info{
        margin: 0 !important;
        padding: 0 !important;
    }  
    .middle-section {
        flex-direction: column !important;
        width: 100% !important;
        margin: 0 auto !important;
    }  

    .user-info, .quotes-section  {
        max-width: 90% !important;
        margin: 0 auto !important;
        margin-bottom: 10px;
    }

     .head-title .text-danger-emphasis {
        padding-bottom: 100px !important;
    }

}
@media (min-width: 542px) {

    .user-info {
        width: 100% !important;
        margin: 0 auto !important;
        margin-bottom: 10px !important;
        padding: 0 !important;
    }
}


/* Small devices (landscape phones, less than 768px)  */
@media (max-width: 767.98px) {

    body {
        margin-top: 5rem !important;
    }

    .container > .head-title span {
        display: block;
    }

    .b9-form {
        width: 90% !important;
    }
    
    .b9-comp {
        width: 80% !important;
    }
    .widee {
        margin-top: 500px !important;
        width: 90% !important;

    }

    .container > .head-title  {
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: -25px !important;
        margin-top: 30px !important;
      
    }

    .container > .head-title  span {
        text-align: center;
        font-size: 2rem;
        margin: 0 !important;
        padding: 0 !important;
        
    }
    
    .footer {
        margin: 20px  0px !important;
    }

    .footer-items .footer-info {
        font-size: 0.8rem !important;
    }

    .feedback-card > p{
        text-align: center; 
        display: inline-block;  
    }
    
    .feedback-card h2, .feedback-card h3 {
        text-align: center; 
          
    }
    
    .feedback-card h3 {
        margin-top: 17px !important;
        color: #a80000;
    }

 }

/* Medium devices (tablets, less than 992px)  */
@media (max-width: 760px) { 
  .newsletter {
    flex-direction: column !important;
  }
.nsmq {
    width: 200px !important;
    margin: 0 auto !important;
}

 }
/* Medium devices (tablets, less than 992px)  */
@media (min-width: 991.98px) { 
    .middle-section {
        width: 75% !important;
        margin: 0 auto !important;
    }
    .user-info {
        width: 50%;
    }
    .quotes-section {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 2rem !important;
    }

    .nsmq {
        height: 90px !important;
    }

    .newsletter-info {
        font-size: 1rem !important;
    }

    .newsletter-info > p {
        font-size: 0.8rem !important;
    }
    .newsletter .read-more-newsletter {
        font-size: 0.8rem !important;
    }
 }

/* Large devices (desktops, less than 1200px)  */
@media (max-width: 1199.98px) { }